.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}
.tbldiv > table {width:60%}
.datarow > td, th {text-align:right}
.rowname {font-weight: bold;color:#777;text-align:left}
.big {font-size:120%}
